<div class="wrapper">
  <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="firstName">First Name: </label>
    <input id="firstName" type="text" formControlName="firstName">
    <span class="error" *ngIf="form.controls['firstName'].errors?.required && form.controls['firstName'].touched">
      <h5>Field required</h5>
    </span>
    <hr>
    <label for="lastName">Last Name: </label>
    <input id="lastName" type="text" formControlName="lastName">
    <span class="error" *ngIf="form.controls['lastName'].errors?.required && form.controls['lastName'].touched">
      <h5>Field required</h5>
    </span>
    <hr>
    <mat-form-field appearance="fill">
      <mat-label>Birth date</mat-label>
      <input matInput [matDatepicker]="dp" formControlName="birth">
      <mat-hint>MMMM DD, YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
    <span class="error" *ngIf="form.controls['birth'].errors?.required && form.controls['birth'].touched">
      <h5>Field required</h5>
    </span>
    <hr>
    <label for="framework">Choose a framework</label>
      <select id="framework" formControlName="framework">
        <option *ngFor="let item of frameworks" [ngValue]="item">{{item.framework}}</option>
      </select>
      <hr>
      <label for="frameworkVersion">Choose an version</label>
      <select id="frameworkVersion" formControlName="frameworkVersion">
        <option>Select an option </option>
        <option *ngFor="let item of units" [ngValue]="item">{{item}}</option>
      </select>
    <hr>
    <label for="femail">Email: </label>
    <input id="email" type="text" formControlName="email">
    <span class="error" *ngIf="form.controls['email'].errors?.required && form.controls['email'].touched">
      <h5>Field required</h5>
    </span>
    <span class="error" *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched">
      <h5>Uncorrect format</h5>
    </span>
    <hr>
    <div formArrayName="hobbies">
      <h4> Your hobbies</h4>
      <button type="button" (click)="onAddHobby()" mat-raised-button color="primary">Add hobby:</button>
      <ng-container *ngFor="let hobby of getControls(), let i = index ">
        <div [formGroupName]="i">
          <div >
            <label for="hobby">Hobby:</label>
            <input id="hooby" type="text" formControlName="title" > 
            <label for="hobbyDuration">Duration:</label>
            <input id="hoobyDuration" placeholder="8 months" type="text"formControlName="duration" > 
          </div>
        </div>
      </ng-container>    
    </div>
    <hr>
    <button type="submit" mat-raised-button>Submit</button>

  </form>
</div>
