.wrapper {
	margin: 20px auto;
	padding: 20px 50px;
	width: 60%;
	height: 100vh;
	border: solid 1px rgb(204, 194, 194);
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgb(44, 43, 43);
	box-sizing: border-box;
}

form {
	display: flex;
	flex-direction: column;
}

.error {
	color: red;
}

